.Reveal {
    padding: 1.5rem;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    transform: translateY(0%);
}

.Show {
    display: block;
    transform: translateY(-100%);
}