.PageTitle {
    background-image: url(../../assets/background.jpg);
    background-size: 100%; 
    background-origin: border-box; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width: 800px) {
    .PageTitle {
        background-size: 200%;
    }
}